{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

{% block content %}
  <!-- Start Product -->
  <div class="cs-accent_7_bg_2">
    <div class="cs-height_140 cs-height_lg_80"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            {% for blog in blogs %}
            <div class="col-lg-6">
              <div class="cs-post cs-style2">
                <a href="{% url 'blog_details' blog.pk  %}" class="cs-post_thumb">
                  <div class="cs-post_thumb_in cs-bg" data-src="{{blog.image.url}}"></div>
                </a>
                <div class="cs-post_label">
                  <a href="#" class="cs-avatar">
                    <img src="{{blog.user.photo.url }}" alt="#" class="cs-avatar_img">
                    <div class="cs-avatar_name">{{blog.user.username}}</div>
                  </a>
                  <div class="cs-post_date">{{blog.created_at|date:"d M, Y"}}</div>
                </div>
                <h2 class="cs-post_title"><a href="{% url 'blog_details' blog.pk  %}">{{blog.title}}</a></h2>
              </div>
              <div class="cs-height_30 cs-height_lg_30"></div>
            </div><!-- .col -->
            {% endfor %}
          </div>
          <div class="cs-height_50 cs-height_lg_10"></div>
          <div class="cs-post_pagination cs-style1 cs-center cs-medium cs-with_round">
            <ul class="page-numbers">
                {% if page_obj.has_previous %}
                <li><a class="prev page-number" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a></li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                {% if page is page_obj.number %}
                <li><span class="page-number current" href="?page={{page}}">{{page}}</span></li>
                {% else %}
                <li><a class="page-number" href="?page={{page}}">{{page}}</a></li>
                {% endif %}
                {% endfor %}
                <!-- <li><a class="page-number" href="#">3</a></li> -->
                {% if page_obj.has_next %}
                <li><a class="next page-number" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="cs-height_0 cs-height_lg_80"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="cs-height_140 cs-height_lg_80"></div> -->
  </div>
  <!-- End Product -->
{% endblock %}

{% block sellof %}

{% endblock %}

{% block js %}
  <!-- Script -->
  <script src="{% static '../static/js/plugins/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/isotope.pkg.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery.slick.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/lightgallery.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery.counter.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery-ui.js' %}"></script>
  <script src="{% static '../static/js/plugins/select2.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/wow.min.js' %}"></script>
  <script src="{% static '../static/js/main.js' %}"></script>
{% endblock %}