{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Start Blog Details -->
  <div class="cs-accent_7_bg_2">
    <div class="cs-height_130 cs-height_lg_70"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="cs-blog_details cs-style1">
            <div class="cs-blog_details_head">
              <div class="cs-blog_details_info">
                <div class="cs-blog_details_meta">
                  <div class="cs-posted_by">
                    <span>By</span> 
                    <a href="#" class="cs-primary_color">{{ blog.user.username }}</a>
                  </div>
                  <div class="cs-post_date">
                    <i class="far fa-calendar-alt"></i> {{ blog.created_at|date:"d M, Y" }}
                  </div>
                </div>
                <div class="cs-height_25 cs-height_lg_25"></div>
                <h1 class="cs-blog_details_title">{{ blog.title }}</h1>
              </div>
              <img src="{{ blog.image.url }}" alt="Image">
            </div>
            <p>{{ blog.description }}</p>
            <div class="cs-height_20 cs-height_lg_20"></div>
            <hr class="cs-accent_20_bg">
            <div class="cs-height_35 cs-height_lg_35"></div>
            <div class="cs-height_30 cs-height_lg_30"></div>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
      <div class="cs-height_100 cs-height_lg_50"></div>
    </div>
  </div>
  <!-- End Blog Details -->
{% endblock %}

{% block sellof %}{% endblock %}

{% block js %}
  <script src="{% static 'js/plugins/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/plugins/isotope.pkg.min.js' %}"></script>
  <script src="{% static 'js/plugins/jquery.slick.min.js' %}"></script>
  <script src="{% static 'js/plugins/lightgallery.min.js' %}"></script>
  <script src="{% static 'js/plugins/jquery.counter.min.js' %}"></script>
  <script src="{% static 'js/plugins/jquery-ui.js' %}"></script>
  <script src="{% static 'js/plugins/select2.min.js' %}"></script>
  <script src="{% static 'js/plugins/wow.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
