{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Start Form -->
  <div class="cs-accent_7_bg_2 cs-bg2" data-src="../static/img/e-commerce/signin.png">
    <div class="cs-height_140 cs-height_lg_80"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <form class="cs-form cs-style1">
            <div class="cs-height_50 cs-height_lg_50"></div>
            <div class="cs-form_body">
              <h2 class="cs-form_title"><b class="cs-accent_color">Signup</b> for new account</h2>
              <div class="cs-height_20 cs-height_lg_20"></div>
              <label class="cs-primary_color">Your Name</label>
              <input type="text" placeholder="User name or email" class="cs-form_field cs-accent_7_bg_2 cs-accent_10_border_2 cs-primary_color" required>
              <div class="cs-height_30 cs-height_lg_30"></div>
              <label class="cs-primary_color">E-mail*</label>
              <input type="email" placeholder="User name or email" class="cs-form_field cs-accent_7_bg_2 cs-accent_10_border_2 cs-primary_color" required>
              <div class="cs-height_30 cs-height_lg_30"></div>
              <label class="cs-primary_color">Password*</label>
              <input type="password" placeholder="Password" class="cs-form_field cs-accent_7_bg_2 cs-accent_10_border_2 cs-primary_color" required>
              <div class="cs-height_35 cs-height_lg_35"></div>
              <button class="cs-btn cs-style1 cs-rounded cs-medium cs-primary_font cs-accent_bg_2 cs-accent_border_2 cs-white cs-accent_bg_hover cs-white_hover cs-accent_border_hover">Sign Up</button>
              <div class="cs-height_40 cs-height_lg_40"></div>
            </div>
            <hr class="cs-accent_30_bg_2">
            <div class="cs-height_20 cs-height_lg_20"></div>
            <div class="cs-form_footer text-center cs-medium cs-primary_color">
              Already have a account? <a href="#" class="cs-accent_color_2">Sign In</a>
            </div>
            <div class="cs-height_50 cs-height_lg_40"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="cs-height_140 cs-height_lg_80"></div>
  </div>
  <!-- End Form -->
{% endblock %}
  
{% block sellof %}

{% endblock %}

{% block js %}
  <!-- Script -->
  <script src="{% static '../static/js/plugins/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/isotope.pkg.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery.slick.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/lightgallery.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery.counter.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery-ui.js' %}"></script>
  <script src="{% static '../static/js/plugins/select2.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/wow.min.js' %}"></script>
  <script src="{% static '../static/js/main.js' %}"></script>
{% endblock %}