{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Start Product -->
  <div class="cs-accent_7_bg_2">
    <div class="cs-height_140 cs-height_lg_80"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="cs-cart_total">
            <h2 class="cs-cart_title cs-semi_bold">My Cart (2 Item)</h2>
            <div class="cs-total cs-primary_color cs-semi_bold">Total $229.00</div>
          </div>
          <div class="cs-height_30 cs-height_lg_30"></div>
          <div class="cs-table cs-style1  cs-white_bg">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="cs-medium cs-primary_color">Product</th>
                    <th class="cs-medium cs-primary_color">Quantity</th>
                    <th class="cs-medium cs-primary_color text-end">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="cs-accent_15_border_2">
                      <div class="cs-table_product cs-type1">
                        <div class="cs-product_img"><img src="{% static '../assets/img/e-commerce/cart_img1.png' %}'" alt="Image"></div>
                        <div class="cs-product_right">
                          <a href="#" class="cs-medium cs-primary_color">Black Hand Watch</a>
                          <div class="cs-product_meta">
                            <span class="cs-table_row_close cs-primary_50_color cs-accent_color_hover cs-transition_3"><i class="fas fa-trash-alt"></i></span>
                            <a href="#" class="cs-move_wish cs-primary_50_color">Move to wish list <i class="far fa-heart"></i></a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="cs-accent_15_border_2">
                      <div class="cs-quantity cs-style1 cs-accent_40_border_2">
                        <button class="cs-quantity_btn cs-center cs-accent_color_2 cs-accent_10_bg_2 cs-white_hover cs-accent_bg_2_hover"><i class="fas fa-minus"></i></button>
                        <input type="text" value="1" class="cs-quantity_number">
                        <button class="cs-quantity_btn cs-center cs-accent_color_2 cs-accent_10_bg_2 cs-white_hover cs-accent_bg_2_hover"><i class="fas fa-plus"></i></button>
                      </div>
                    </td>
                    <td class="cs-accent_15_border_2 text-end">
                      $22.00
                    </td>
                  </tr>
                  <tr>
                    <td class="cs-accent_15_border_2">
                      <div class="cs-table_product cs-type1">
                        <div class="cs-product_img"><img src="{% static '../assets/img/e-commerce/cart_img2.png' %}" alt="Image"></div>
                        <div class="cs-product_right">
                          <a href="#" class="cs-medium cs-primary_color">Black Hand Watch</a>
                          <div class="cs-product_meta">
                            <span class="cs-table_row_close cs-primary_50_color cs-accent_color_hover cs-transition_3"><i class="fas fa-trash-alt"></i></span>
                            <a href="#" class="cs-move_wish cs-primary_50_color">Move to wish list <i class="far fa-heart"></i></a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="cs-accent_15_border_2">
                      <div class="cs-quantity cs-style1 cs-accent_40_border_2">
                        <button class="cs-quantity_btn cs-center cs-accent_color_2 cs-accent_10_bg_2 cs-white_hover cs-accent_bg_2_hover"><i class="fas fa-minus"></i></button>
                        <input type="text" value="1" class="cs-quantity_number">
                        <button class="cs-quantity_btn cs-center cs-accent_color_2 cs-accent_10_bg_2 cs-white_hover cs-accent_bg_2_hover"><i class="fas fa-plus"></i></button>
                      </div>
                    </td>
                    <td class="cs-accent_15_border_2 text-end">
                      $22.00
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="cs-update_cart cs-accent_15_border_2">
              <div class="cs-update_left">
                <form class="cs-coupon">
                  <input class="cs-coupon_input cs-accent_30_border_2" type="text" placeholder="Enter coupon code">
                  <button class="cs-btn cs-style1 cs-medium cs-primary_font cs-accent_bg_2 cs-accent_border_2 cs-white cs-accent_bg_hover cs-white_hover cs-accent_border_hover">Apply</button>
                </form>
              </div>
              <div class="cs-update_right">
                <button class="cs-btn cs-style1 cs-medium cs-primary_font cs-accent_border_2 cs-accent_color_2 cs-white_bg cs-accent_border_hover cs-accent_bg_hover cs-white_hover">Update Cart</button>
              </div>
            </div>
          </div>
          <div class="cs-height_30 cs-height_lg_30"></div>
        </div>
        <div class="col-lg-4">
          <div class="cs-summary">
            <h3 class="cs-summary_title">Checkout Summary</h3>
            <ul class="cs-summary_list cs-mp0">
              <li class="cs-accent_15_border_2">
                <span>Sub total</span>
                <span>$299.00</span>
              </li>
              <li class="cs-accent_15_border_2">
                <span>Shipping</span>
                <span>$0.00</span>
              </li>
              <li class="cs-accent_15_border_2">
                <span>Total</span>
                <span>$299.00</span>
              </li>
              <li class="cs-accent_15_border_2">
                <span>Payable Total</span>
                <span>$299.00</span>
              </li>
            </ul>
            <div class="text-center">
              <a href="#" class="cs-btn cs-style1 cs-rounded cs-medium cs-primary_font cs-accent_bg cs-accent_border cs-white cs-accent_bg_2_hover cs-white_hover cs-accent_border_2_hover">Procced to Checkout</a>
            </div>
          </div>
          <div class="cs-height_30 cs-height_lg_30"></div>
        </div>
      </div>
    </div>
    <div class="cs-height_110 cs-height_lg_50"></div>
  </div>
  <!-- End Product -->
{% endblock %}
  

{% block sellof %}

{% endblock %}

{% block js %}
  <!-- Script -->
  <script src="{% static '../assets/js/plugins/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static '../assets/js/plugins/isotope.pkg.min.js' %}"></script>
  <script src="{% static '../assets/js/plugins/jquery.slick.min.js' %}"></script>
  <script src="{% static '../assets/js/plugins/lightgallery.min.js' %}"></script>
  <script src="{% static '../assets/js/plugins/jquery.counter.min.js' %}"></script>
  <script src="{% static '../assets/js/plugins/jquery-ui.js' %}"></script>
  <script src="{% static '../assets/js/plugins/select2.min.js' %}"></script>
  <script src="{% static '../assets/js/plugins/wow.min.js' %}"></script>
  <script src="{% static '../assets/js/main.js' %}"></script>
{% endblock %}