{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Start Product -->
  <div class="cs-accent_7_bg_2">
    <div class="cs-height_130 cs-height_lg_70"></div>
    <h2 class="cs-bold text-center">Checkout</h2>
    <div class="cs-height_40 cs-height_lg_20"></div>
    <div class="container">
      <div class="cs-checkout">
        <div class="cs-checkout_col">
          <div class="cs-height_60 cs-height_lg_40"></div>
          <div class="cs-checkout_alert cs-accent_7_bg_2">Returning customer?  <a href="login.html" class="cs-accent_color cs-accent_color_2_hover cs-medium">Click here to login</a></div>
          <div class="cs-height_30 cs-height_lg_30"></div>
          <h4 class="cs-semi_bold">Your Order</h4>
          <ul class="cs-summary_list cs-type1 cs-mp0">
            <li class="cs-accent_15_border_2 cs-medium cs-primary_color">
              <span>Product name</span>
              <span>Item price</span>
            </li>
            <li class="cs-focus_item cs-accent_15_border_2 cs-medium">
              <span>
                <i class="far fa-times-circle cs-primary_50_color cs-primary_color_hover cs-transition_3"></i>
                <a href="#">Blue Headset × 1</a>
              </span>
              <span>$299.00</span>
            </li>
            <li class="cs-accent_15_border_2">
              <span>Sub total</span>
              <span>$299.00</span>
            </li>
            <li class="cs-accent_15_border_2">
              <span>Shipping</span>
              <span>$12.00</span>
            </li>
            <li class="cs-accent_15_border_2 cs-medium cs-accent_color_2">
              <span>Total</span>
              <span>$311.00</span>
            </li>
          </ul><!-- .cs-summary_list -->
          <a href="login.html" class="cs-accent_color cs-accent_color_2_hover cs-medium cs-text_underline">Have a coupon?</a>
          <form class="cs-coupon">
            <input class="cs-coupon_input cs-accent_30_border_2" type="text" placeholder="Enter coupon code">
            <button class="cs-btn cs-style1 cs-medium cs-primary_font cs-accent_bg_2 cs-accent_border_2 cs-white cs-accent_bg_hover cs-white_hover cs-accent_border_hover">Apply</button>
          </form>
          <div class="cs-height_45 cs-height_lg_40"></div>
          <h4 class="cs-semi_bold">Shipping Address</h4>
          <label class="cs-primary_color">Name*</label>
          <input type="text" class="cs-form_field cs-accent_7_bg_2 cs-accent_10_border_2 cs-primary_color" required>
          <div class="cs-height_15 cs-height_lg_15"></div>
          <label class="cs-primary_color">Country / Region *</label>
          <div class="cs-checkout_select">
            <select class="cs-select2">
              <option>USA</option>
              <option>Switzerland</option>
              <option>Czech Republic</option>
              <option>Egypt</option>
              <option>Poland</option>
            </select>
          </div>
          <div class="cs-height_15 cs-height_lg_15"></div>
          <label class="cs-primary_color">State</label>
          <div class="cs-checkout_select">
            <select class="cs-select2">
              <option>Denver</option>
              <option>Maine</option>
              <option>New Hampshire</option>
              <option>Vermont</option>
              <option>Vermont</option>
              <option>Massachusetts</option>
            </select>
          </div>
          <div class="cs-height_15 cs-height_lg_15"></div>
          <label class="cs-primary_color">Town/City*</label>
          <input type="text" class="cs-form_field cs-accent_7_bg_2 cs-accent_10_border_2 cs-primary_color" required>
          <div class="cs-height_15 cs-height_lg_15"></div>
          <label class="cs-primary_color">Street address</label>
          <input type="text" class="cs-form_field cs-accent_7_bg_2 cs-accent_10_border_2 cs-primary_color" required>
          <div class="cs-height_60 cs-height_lg_40"></div>
        </div><!-- .cs-checkout_col -->
        <div class="cs-checkout_col cs-accent_10_border_2">
          <div class="cs-height_60 cs-height_lg_0"></div>
          <h4 class="cs-semi_bold">Billing Details</h4>
          <label class="cs-primary_color">E-mail*</label>
          <input type="text" class="cs-form_field cs-accent_7_bg_2 cs-accent_10_border_2 cs-primary_color" required>
          <div class="cs-height_15 cs-height_lg_15"></div>
          <div class="row cs-row_gap_20">
            <div class="col-lg-6">
              <label class="cs-primary_color">First name*</label>
              <input type="text" class="cs-form_field cs-accent_7_bg_2 cs-accent_10_border_2 cs-primary_color" required>
              <div class="cs-height_15 cs-height_lg_15"></div>
            </div>
            <div class="col-lg-6">
              <label class="cs-primary_color">Last name*</label>
              <input type="text" class="cs-form_field cs-accent_7_bg_2 cs-accent_10_border_2 cs-primary_color" required>
              <div class="cs-height_15 cs-height_lg_15"></div>
            </div>
          </div>
          <label class="cs-primary_color">Company name (optional)</label>
          <input type="text" class="cs-form_field cs-accent_7_bg_2 cs-accent_10_border_2 cs-primary_color">
          <div class="cs-height_15 cs-height_lg_15"></div>
          <label class="cs-primary_color">Country*</label>
          <div class="cs-checkout_select">
            <select class="cs-select2">
              <option>Denver</option>
              <option>Switzerland</option>
              <option>Czech Republic</option>
              <option>Egypt</option>
              <option>Poland</option>
            </select>
          </div>
          <div class="cs-height_15 cs-height_lg_15"></div>
          <label class="cs-primary_color">Street address</label>
          <input type="text" class="cs-form_field cs-accent_7_bg_2 cs-accent_10_border_2 cs-primary_color">

          <div class="cs-height_45 cs-height_lg_30"></div>
          <h4 class="cs-semi_bold">Payment Method</h4>
          <div class="cs-radio_boxes">
            <div class="cs-white_bg">
              <div class="cs-radio cs-accent_7_bg_2 cs-accent_10_border_2">
                <input type="radio" name="exampleRadios" id="exampleRadios1" checked>
                <label for="exampleRadios1">Credit Card</label>
              </div>
            </div>
            <div class="cs-radio">
              <input type="radio" name="exampleRadios" id="exampleRadios2">
              <label for="exampleRadios2">
                <img src="../static/img/e-commerce/paypal.png" alt="">
              </label>
            </div>
          </div>
          <div class="cs-accent_7_bg_2 cs-accent_10_border_2 cs-form_group">
            <label class="cs-primary_color">Card number*</label>
            <input type="text" class="cs-form_field cs-white_bg cs-accent_15_border_2 cs-primary_color" required>
            <div class="cs-height_15 cs-height_lg_15"></div>
            <div class="row cs-row_gap_20">
              <div class="col-lg-6">
                <label class="cs-primary_color">Expiry date*</label>
                <input type="text" class="cs-form_field cs-white_bg cs-accent_15_border_2 cs-primary_color" required>
                <div class="cs-height_15 cs-height_lg_15"></div>
              </div>
              <div class="col-lg-6">
                <label class="cs-primary_color">CVV*</label>
                <input type="text" class="cs-form_field cs-white_bg cs-accent_15_border_2 cs-primary_color" required>
                <div class="cs-height_15 cs-height_lg_15"></div>
              </div>
            </div>
          </div>
          <div class="cs-height_35 cs-height_lg_35"></div>
          <div class="cs-checkbox">
            <input type="checkbox" id="checkbox" checked>
            <label for="checkbox" class="cs-checkbox_label">I have read and agree to the website <a href="#" class="cs-accent_color cs-accent_color_2_hover">Terms & Conditions</a></label>
          </div>
          <div class="cs-height_25 cs-height_lg_25"></div>
          <button class="cs-btn cs-style1 cs-rounded cs-medium cs-primary_font cs-accent_bg_2 cs-accent_border_2 cs-white cs-accent_bg_hover cs-white_hover cs-accent_border_hover w-100">Make Your Payment</button>
          <div class="cs-height_60 cs-height_lg_40"></div>
        </div><!-- .cs-checkout_col -->
      </div>
    </div>
    <div class="cs-height_140 cs-height_lg_80"></div>
  </div>
  <!-- End Product -->
{% endblock %}

{% block js %}
  <!-- Script -->
  <script src="{% static '../static/js/plugins/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/isotope.pkg.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery.slick.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/lightgallery.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery.counter.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery-ui.js' %}"></script>
  <script src="{% static '../static/js/plugins/select2.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/wow.min.js' %}"></script>
  <script src="{% static '../static/js/main.js' %}"></script>
{% endblock %}