{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Start Product -->
  <div class="cs-accent_7_bg_2">
    <div class="cs-height_130 cs-height_lg_70"></div>
    <h2 class="cs-bold text-center">Wishlist</h2>
    <div class="cs-height_40 cs-height_lg_20"></div>
    <div class="container">
      <div class="cs-table cs-style1 table-responsive cs-white_bg">
        <table class="table">
          <thead>
            <tr>
              <th class="cs-medium cs-primary_color">Product</th>
              <th class="cs-medium cs-primary_color">Price</th>
              <th class="cs-medium cs-primary_color">Stock Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="cs-accent_15_border_2">
                <div class="cs-table_product">
                  <span class="cs-table_row_close cs-primary_50_color cs-accent_color_hover cs-transition_3"><i class="far fa-times-circle"></i></span>
                  <div class="cs-product_img"><img src="{% static '../assets/img/e-commerce/cart_img1.png' %}" alt="Image"></div>
                  <a href="#" class="cs-medium cs-primary_color">Black Hand Watch</a>
                </div>
              </td>
              <td class="cs-accent_15_border_2">$22.00</td>
              <td class="cs-accent_15_border_2">In Stock</td>
              <td class="cs-accent_15_border_2 text-end">
                <a href="#" class="cs-btn cs-style1 cs-medium cs-primary_font cs-accent_border_2 cs-accent_color_2 cs-accent_border_hover cs-accent_bg_hover cs-white_hover">Add to Cart</a>
              </td>
            </tr>
            <tr>
              <td class="cs-accent_15_border_2">
                <div class="cs-table_product">
                  <span class="cs-table_row_close cs-primary_50_color cs-accent_color_hover cs-transition_3"><i class="far fa-times-circle"></i></span>
                  <div class="cs-product_img"><img src="{% static '../assets/img/e-commerce/cart_img2.png' %}" alt="Image"></div>
                  <a href="#" class="cs-medium cs-primary_color">Black Headphone</a>
                </div>
              </td>
              <td class="cs-accent_15_border_2">$22.00</td>
              <td class="cs-accent_15_border_2">In Stock</td>
              <td class="cs-accent_15_border_2 text-end">
                <a href="#" class="cs-btn cs-style1 cs-medium cs-primary_font cs-accent_border_2 cs-accent_color_2 cs-accent_border_hover cs-accent_bg_hover cs-white_hover">Add to Cart</a>
              </td>
            </tr>
            <tr>
              <td class="cs-accent_15_border_2">
                <div class="cs-table_product">
                  <span class="cs-table_row_close cs-primary_50_color cs-accent_color_hover cs-transition_3"><i class="far fa-times-circle"></i></span>
                  <div class="cs-product_img"><img src="{% static '../assets/img/e-commerce/cart_img3.png' %}" alt="Image"></div>
                  <a href="#" class="cs-medium cs-primary_color">Blue Soft Chair</a>
                </div>
              </td>
              <td class="cs-accent_15_border_2">$22.00</td>
              <td class="cs-accent_15_border_2">In Stock</td>
              <td class="cs-accent_15_border_2 text-end">
                <a href="#" class="cs-btn cs-style1 cs-medium cs-primary_font cs-accent_border_2 cs-accent_color_2 cs-accent_border_hover cs-accent_bg_hover cs-white_hover">Add to Cart</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="cs-height_140 cs-height_lg_80"></div>
  </div>
  <!-- End Product -->
{% endblock %}

{% block sellof %}

{% endblock %}

{% block js %}
  <!-- Script -->
  <script src="{% static '../static/js/plugins/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/isotope.pkg.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery.slick.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/lightgallery.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery.counter.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery-ui.js' %}"></script>
  <script src="{% static '../static/js/plugins/select2.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/wow.min.js' %}"></script>
  <script src="{% static '../static/js/main.js' %}"></script>
{% endblock %}