{% extends 'base.html' %}
{% load static %}


{% block content %}
  <!-- Start Product -->
  <div class="cs-accent_7_bg_2">
    <div class="cs-height_140 cs-height_lg_80"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="cs-slider_for_1 cs-accent_20_bg_2">
            <div class="cs-single_product_img"><img src="{{product.cover_image.url}}" alt=""></div>
          </div>
          <div class="cs-slider_nav_1">
            <div class="cs-slider_mini_thumb cs-center cs-accent_20_bg_2 cs-accent_40_border_hover"><img src="{{product.cover_image.url}}" alt="Thumb"></div>
            <div class="cs-slider_mini_thumb cs-center cs-accent_20_bg_2 cs-accent_40_border_hover"><img src="{{product.cover_image.url}}" alt="Thumb"></div>
            <div class="cs-slider_mini_thumb cs-center cs-accent_20_bg_2 cs-accent_40_border_hover"><img src="{{product.cover_image.url}}" alt="Thumb"></div>
            <div class="cs-slider_mini_thumb cs-center cs-accent_20_bg_2 cs-accent_40_border_hover"><img src="{{product.cover_image.url}}" alt="Thumb"></div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="cs-height_50 cs-height_lg_40"></div>
          <div class="cs-product_details cs-style1">
            <h2 class="cs-bold m-0">{{product.title}}</h2>
            <div class="cs-height_10 cs-height_lg_10"></div>
            <div class="cs-product_review">
            </div>
            <div class="cs-height_10 cs-height_lg_10"></div>
            <hr class="w-50 cs-accent_20_bg_2">
            <div class="cs-height_25 cs-height_lg_25"></div>
            <div class="cs-product_price cs-semi_bold cs-accent_color_2 cs-primary_font">${{product.price}} </div>
            <div class="cs-height_15 cs-height_lg_15"></div>
            <div class="cs-product_desc">{{product.decription}}</div>
            <div class="cs-height_25 cs-height_lg_25"></div>
            <hr class="w-50 cs-accent_20_bg_2">
            <div class="cs-height_30 cs-height_lg_30"></div>
            <div class="cs-product_color_varient">
              <h4>Color</h4>
              <div class="cs-shop_colors">
                <span class="cs-color1"></span>
                <span class="cs-color2 active"></span>
                <span class="cs-color3"></span>
                <span class="cs-color4"></span>
              </div>
            </div>
            <div class="cs-height_30 cs-height_lg_30"></div>
            <div class="cs-quantity_wrap">
              <div class="cs-quantity cs-style1 cs-accent_40_border_2">
                <button class="cs-quantity_btn cs-center cs-accent_color_2 cs-accent_10_bg_2 cs-white_hover cs-accent_bg_2_hover"><i class="fas fa-minus"></i></button>
                <input type="text" value="1" class="cs-quantity_number">
                <button class="cs-quantity_btn cs-center cs-accent_color_2 cs-accent_10_bg_2 cs-white_hover cs-accent_bg_2_hover"><i class="fas fa-plus"></i></button>
              </div>
              <a href="#" class="cs-btn cs-style1 cs-rounded cs-medium cs-primary_font cs-accent_bg_2 cs-accent_border_2 cs-white cs-accent_bg_hover cs-white_hover cs-accent_border_hover">Add To Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs-height_65 cs-height_lg_40"></div>
    <div class="container">
      <div class="cs-tabs cs-fade_tabs cs-style1">
        <ul class="cs-tab_links cs-style2 cs-mp0 cs-primary_font cs-medium">
          <li class="active"><a href="#tab_one">Description</a></li>
          <li><a href="#tab_three">Reviews</a></li>
        </ul>
        <div class="cs-tab_content">
          <div id="tab_one" class="cs-tab active">
            <div class="cs-product_tab cs-style1 cs-accent_20_bg_2">
              <p>{{product.decription}}</p>
              <ul>
            </div>
          </div><!-- .cs-tab -->
          <div id="tab_three" class="cs-tab">
            <div class="cs-product_tab cs-style1 cs-accent_20_bg_2">
              <ol class="comment-list cs-type1">
                <li class="comment">
                  {% if review %}
                  {% for review in reviews %}
                  <div class="comment-body">
                    <div class="comment-author vcard">
                      <img class="avatar" src="{% static '../static/img/digital-agency/avatar2.jpg' %}" alt="Author"> 
                      <span class="cs-medium cs-primary_color">{{review.user}}</span>
                    </div>
                    <div class="comment-meta">Jan 24, 2022 at 9:59 am</div>
                    <div class="cs-review" data-review="4.5">
                      <div class="cs-review_in"></div>
                    </div>
                    <p>{{review.message}}</p>
                  </div>
                  {% endfor %}
                  {% else %}
                  <p>Şərh yoxdur.</p>
                  {% endif %}
              </ol>
            </div>
          </div><!-- .cs-tab -->
        </div>
      </div>
    </div>
    <div class="cs-height_140 cs-height_lg_80"></div>
  </div>
  <!-- End Product -->
{% endblock %}

{% block sellof %}

{% endblock %}


{% block js %}
  <!-- Script -->
  <script src="{% static '../static/js/plugins/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/isotope.pkg.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery.slick.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/lightgallery.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery.counter.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery-ui.js' %}"></script>
  <script src="{% static '../static/js/plugins/select2.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/wow.min.js' %}"></script>
  <script src="{% static '../static/js/main.js' %}"></script>
{% endblock %}