{% extends 'base.html' %}
{% load static %}


{% block content %}
  <!-- Start Product -->
  <div class="cs-accent_7_bg_2">
    <div class="cs-height_135 cs-height_lg_75"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="cs-height_100 cs-height_lg_0"></div>
          <div class="cs-shop_sidebar cs-style1 cs-white_bg cs-border_color">
            <div class="cs-shop_widget cs-border_color">
              <h3 class="cs-shop_widget_title">Categories</h3>
              <ul class="menu">
                <li><a href="#"><i class="fas fa-angle-right"></i>Sneakers(10)</a></li>
                <li><a href="#"><i class="fas fa-angle-right"></i>Headset(5)</a></li>
                <li><a href="#"><i class="fas fa-angle-right"></i>Hand Bag(7)</a></li>
                <li><a href="#"><i class="fas fa-angle-right"></i>Wing Chair(4)</a></li>
                <li><a href="#"><i class="fas fa-angle-right"></i>Smart Watch(11)</a></li>
                <li><a href="#"><i class="fas fa-angle-right"></i>Watch(20)</a></li>
              </ul>
            </div>
            <div class="cs-shop_widget cs-border_color">
              <h3 class="cs-shop_widget_title">Filter by price</h3>
              <div class="cs-height_10 cs-height_lg_10"></div>
              <div id="slider-range"></div>
              <div class="cs-height_25 cs-height_lg_25"></div>
              <div class="cs-range_value">
                <div class="cs-range_value_in">
                  <label for="amount" class="cs-primary_color">Price: </label>
                  <input type="text" id="amount" class="cs-accent_color_2" readonly>
                </div>
                <button class="cs-range_btn cs-accent_bg_2 cs-white cs-accent_bg_hover">Filter</button>
              </div>
            </div>
            <div class="cs-shop_widget cs-border_color">
              <h3 class="cs-shop_widget_title">Filter by color</h3>
              <div class="cs-shop_colors">
                <span class="cs-color1"></span>
                <span class="cs-color2 active"></span>
                <span class="cs-color3"></span>
                <span class="cs-color4"></span>
                <span class="cs-color5"></span>
                <span class="cs-color6"></span>
              </div>
            </div>
            <div class="cs-shop_widget cs-border_color">
              <h3 class="cs-shop_widget_title">Filter by size</h3>
              <div class="cs-shop_size">
                <span class="cs-center cs-rounded cs-transition_3 cs-accent_40_border_2 cs-accent_border_2_hover cs-white_hover cs-accent_bg_2_hover">S</span>
                <span class="cs-center cs-rounded cs-transition_3 cs-white cs-accent_bg_2">M</span>
                <span class="cs-center cs-rounded cs-transition_3 cs-accent_40_border_2 cs-accent_border_2_hover cs-white_hover cs-accent_bg_2_hover">L</span>
                <span class="cs-center cs-rounded cs-transition_3 cs-accent_40_border_2 cs-accent_border_2_hover cs-white_hover cs-accent_bg_2_hover">XL</span>
              </div>
            </div>
          </div>
          <div class="cs-height_0 cs-height_lg_40"></div>
        </div>
        <div class="col-lg-9">
          <div class="cs-short_head">
            <div class="cs-short_left">1–9 of 40 results</div>
            <div class="cs-short_right">
              <select class="cs-select">
                <option>Sort by popularity</option>
                <option>Sort by low price</option>
                <option>Sort by high price</option>
              </select>
            </div>
          </div>
          <div class="cs-height_50 cs-height_lg_40"></div>
          <div class="row">
            <div class="col-lg-4 col-sm-6">
              <div class="cs-product cs-style1 cs-white_bg">
                <div class="cs-product_thumb">
                  <a href="#" class="cs-product_img cs-center"><img src="../static/img/e-commerce/product5.png" alt=""></a>
                  <div class="cs-product_toolbox cs-white_bg">
                    <div class="cs-product_toolbox_in cs-accent_15_bg_2">
                      <a href="#"><i class="far fa-heart"></i></a>
                      <a href="#"><i class="fas fa-random"></i></a>
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="cs-product_info cs-border_color">
                  <h2 class="cs-product_title"><a href="#">Hand bag</a></h2>
                  <div class="cs-product_meta">
                    <div class="cs-product_price">$15.00</div>
                    <a href="#" class="cs-product_btn">
                      <i class="fas fa-cart-plus"></i>
                      Buy Now
                    </a>
                  </div>
                </div>
              </div>
              <div class="cs-height_30 cs-height_lg_30"></div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="cs-product cs-style1 cs-white_bg">
                <div class="cs-product_thumb">
                  <a href="#" class="cs-product_img cs-center"><img src="../static/img/e-commerce/product6.png" alt=""></a>
                  <div class="cs-product_toolbox cs-white_bg">
                    <div class="cs-product_toolbox_in cs-accent_15_bg_2">
                      <a href="#"><i class="far fa-heart"></i></a>
                      <a href="#"><i class="fas fa-random"></i></a>
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="cs-product_info cs-border_color">
                  <h2 class="cs-product_title"><a href="#">Black headphone</a></h2>
                  <div class="cs-product_meta">
                    <div class="cs-product_price">$10.75</div>
                    <a href="#" class="cs-product_btn">
                      <i class="fas fa-cart-plus"></i>
                      Buy Now
                    </a>
                  </div>
                </div>
              </div>
              <div class="cs-height_30 cs-height_lg_30"></div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="cs-product cs-style1 cs-white_bg">
                <div class="cs-product_thumb">
                  <a href="#" class="cs-product_img cs-center"><img src="../static/img/e-commerce/product7.png" alt=""></a>
                  <div class="cs-product_toolbox cs-white_bg">
                    <div class="cs-product_toolbox_in cs-accent_15_bg_2">
                      <a href="#"><i class="far fa-heart"></i></a>
                      <a href="#"><i class="fas fa-random"></i></a>
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="cs-product_info cs-border_color">
                  <h2 class="cs-product_title"><a href="#">Blue wing chair</a></h2>
                  <div class="cs-product_meta">
                    <div class="cs-product_price">$30.00</div>
                    <a href="#" class="cs-product_btn">
                      <i class="fas fa-cart-plus"></i>
                      Buy Now
                    </a>
                  </div>
                </div>
              </div>
              <div class="cs-height_30 cs-height_lg_30"></div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="cs-product cs-style1 cs-white_bg">
                <div class="cs-product_thumb">
                  <a href="#" class="cs-product_img cs-center"><img src="../static/img/e-commerce/product9.png" alt=""></a>
                  <div class="cs-product_toolbox cs-white_bg">
                    <div class="cs-product_toolbox_in cs-accent_15_bg_2">
                      <a href="#"><i class="far fa-heart"></i></a>
                      <a href="#"><i class="fas fa-random"></i></a>
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="cs-product_info cs-border_color">
                  <h2 class="cs-product_title"><a href="#">Hand bag</a></h2>
                  <div class="cs-product_meta">
                    <div class="cs-product_price">$45.00</div>
                    <a href="#" class="cs-product_btn">
                      <i class="fas fa-cart-plus"></i>
                      Buy Now
                    </a>
                  </div>
                </div>
              </div>
              <div class="cs-height_30 cs-height_lg_30"></div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="cs-product cs-style1 cs-white_bg">
                <div class="cs-product_thumb">
                  <a href="#" class="cs-product_img cs-center"><img src="../static/img/e-commerce/product10.png" alt=""></a>
                  <div class="cs-product_toolbox cs-white_bg">
                    <div class="cs-product_toolbox_in cs-accent_15_bg_2">
                      <a href="#"><i class="far fa-heart"></i></a>
                      <a href="#"><i class="fas fa-random"></i></a>
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="cs-product_info cs-border_color">
                  <h2 class="cs-product_title"><a href="#">Yellow wing chair</a></h2>
                  <div class="cs-product_meta">
                    <div class="cs-product_price">$40.00</div>
                    <a href="#" class="cs-product_btn">
                      <i class="fas fa-cart-plus"></i>
                      Buy Now
                    </a>
                  </div>
                </div>
              </div>
              <div class="cs-height_30 cs-height_lg_30"></div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="cs-product cs-style1 cs-white_bg">
                <span class="cs-product_badge cs-accent_bg_2 cs-white text-uppercase cs-medium">New</span>
                <div class="cs-product_thumb">
                  <a href="#" class="cs-product_img cs-center"><img src="../static/img/e-commerce/product11.png" alt=""></a>
                  <div class="cs-product_toolbox cs-white_bg">
                    <div class="cs-product_toolbox_in cs-accent_15_bg_2">
                      <a href="#"><i class="far fa-heart"></i></a>
                      <a href="#"><i class="fas fa-random"></i></a>
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="cs-product_info cs-border_color">
                  <h2 class="cs-product_title"><a href="#">Black hand watch</a></h2>
                  <div class="cs-product_meta">
                    <div class="cs-product_price">$50.00</div>
                    <a href="#" class="cs-product_btn">
                      <i class="fas fa-cart-plus"></i>
                      Buy Now
                    </a>
                  </div>
                </div>
              </div>
              <div class="cs-height_30 cs-height_lg_30"></div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="cs-product cs-style1 cs-white_bg">
                <div class="cs-product_thumb">
                  <a href="#" class="cs-product_img cs-center"><img src="../static/img/e-commerce/product8.png" alt=""></a>
                  <div class="cs-product_toolbox cs-white_bg">
                    <div class="cs-product_toolbox_in cs-accent_15_bg_2">
                      <a href="#"><i class="far fa-heart"></i></a>
                      <a href="#"><i class="fas fa-random"></i></a>
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="cs-product_info cs-border_color">
                  <h2 class="cs-product_title"><a href="#">Black sneaker</a></h2>
                  <div class="cs-product_meta">
                    <div class="cs-product_price">$15.00</div>
                    <a href="#" class="cs-product_btn">
                      <i class="fas fa-cart-plus"></i>
                      Buy Now
                    </a>
                  </div>
                </div>
              </div>
              <div class="cs-height_30 cs-height_lg_30"></div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="cs-product cs-style1 cs-white_bg">
                <div class="cs-product_thumb">
                  <a href="#" class="cs-product_img cs-center"><img src="../static/img/e-commerce/product16.png" alt=""></a>
                  <div class="cs-product_toolbox cs-white_bg">
                    <div class="cs-product_toolbox_in cs-accent_15_bg_2">
                      <a href="#"><i class="far fa-heart"></i></a>
                      <a href="#"><i class="fas fa-random"></i></a>
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="cs-product_info cs-border_color">
                  <h2 class="cs-product_title"><a href="#">Black headphone</a></h2>
                  <div class="cs-product_meta">
                    <div class="cs-product_price">$40.00</div>
                    <a href="#" class="cs-product_btn">
                      <i class="fas fa-cart-plus"></i>
                      Buy Now
                    </a>
                  </div>
                </div>
              </div>
              <div class="cs-height_30 cs-height_lg_30"></div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="cs-product cs-style1 cs-white_bg">
                <span class="cs-product_badge cs-accent_bg_2 cs-white text-uppercase cs-medium">New</span>
                <div class="cs-product_thumb">
                  <a href="#" class="cs-product_img cs-center"><img src="../static/img/e-commerce/product17.png" alt=""></a>
                  <div class="cs-product_toolbox cs-white_bg">
                    <div class="cs-product_toolbox_in cs-accent_15_bg_2">
                      <a href="#"><i class="far fa-heart"></i></a>
                      <a href="#"><i class="fas fa-random"></i></a>
                      <a href="#"><i class="far fa-eye"></i></a>
                    </div>
                  </div>
                </div>
                <div class="cs-product_info cs-border_color">
                  <h2 class="cs-product_title"><a href="#">Yellow simple tshirt</a></h2>
                  <div class="cs-product_meta">
                    <div class="cs-product_price">$50.00</div>
                    <a href="#" class="cs-product_btn">
                      <i class="fas fa-cart-plus"></i>
                      Buy Now
                    </a>
                  </div>
                </div>
              </div>
              <div class="cs-height_30 cs-height_lg_30"></div>
            </div>
          </div>
          <div class="cs-height_60 cs-height_lg_30"></div>
          <div class="cs-post_pagination cs-style1 cs-with_round cs-medium">
            <ul class="page-numbers">
              <li><span class="page-number current">1</span></li>
              <li><a class="page-number" href="#">2</a></li>
              <li><a class="page-number" href="#">3</a></li>
              <li><a class="next page-number" href="#"><i class="fas fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="cs-height_140 cs-height_lg_80"></div>
  </div>
  <!-- End Product -->
{% endblock %}

{% block sellof %}

{% endblock %}


{% block js %}
  <!-- Script -->
  <script src="{% static '../static/js/plugins/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/isotope.pkg.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery.slick.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/lightgallery.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery.counter.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery-ui.js' %}"></script>
  <script src="{% static '../static/js/plugins/select2.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/wow.min.js' %}"></script>
  <script src="{% static '../static/js/main.js' %}"></script>
{% endblock %}