{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Start Contact -->
  <div class="cs-accent_7_bg_2">
    <div class="cs-height_140 cs-height_lg_80"></div>
    <div class="container">
      <div class="cs-contact cs-style2 cs-white_bg">
        <div class="cs-contact_left cs-accent_bg_2 position-relative">
          <div class="cs-contact_info_wrap">
            <h4 class="cs-contact_title cs-semi_bold cs-white">Contact Information</h4>
            <div class="cs-height_10 cs-height_lg_10"></div>
            <ul class="cs-contact_info cs-mp0 cs-white">
              <li><i class="fas fa-phone-alt"></i>+123 4567 890 123</li>
              <li><i class="far fa-address-book"></i>yourmail@email.com</li>
              <li><i class="fas fa-fax"></i>+1 323 555 1234</li>
              <li><i class="fas fa-map-marker-alt"></i>Your location, your street, your <br>house number</li>
            </ul>
          </div>
          <div class="cs-social_btns_wrap">
            <div class="cs-social_btns cs-style1 cs-white_60">
              <a href="#" class="cs-accent_color_hover"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="cs-accent_color_hover"><i class="fab fa-twitter"></i></a>
              <a href="#" class="cs-accent_color_hover"><i class="fab fa-instagram"></i></a>
              <a href="#" class="cs-accent_color_hover"><i class="fab fa-pinterest-p"></i></a>
            </div>
          </div>
        </div>
        <div class="cs-contact_right cs-accent_20_bg_2">
          <h4 class="cs-contact_title cs-semi_bold">Get In Touch</h4>
          <div class="cs-height_10 cs-height_lg_10"></div>
          <form class="cs-contact_form">
            <div class="row cs-row_gap_20">
              <div class="col-sm-6">
                <input type="text" class="cs-form_field cs-white_bg cs-accent_30_border_2 cs-primary_color"
                  placeholder="First name">
                <div class="cs-height_20 cs-height_lg_20"></div>
              </div>
              <div class="col-sm-6">
                <input type="text" class="cs-form_field cs-white_bg cs-accent_30_border_2 cs-primary_color"
                  placeholder="Last name">
                <div class="cs-height_20 cs-height_lg_20"></div>
              </div>
              <div class="col-sm-6">
                <input type="text" class="cs-form_field cs-white_bg cs-accent_30_border_2 cs-primary_color"
                  placeholder="Phone">
                <div class="cs-height_20 cs-height_lg_20"></div>
              </div>
              <div class="col-sm-6">
                <input type="text" class="cs-form_field cs-white_bg cs-accent_30_border_2 cs-primary_color"
                  placeholder="Email">
                <div class="cs-height_20 cs-height_lg_20"></div>
              </div>
              <div class="col-lg-12">
                <textarea cols="30" rows="5" class="cs-form_field cs-white_bg cs-accent_30_border_2 cs-primary_color"
                  placeholder="Your Message"></textarea>
                <div class="cs-height_20 cs-height_lg_20"></div>
              </div>
              <div class="col-lg-12">
                <button
                  class="cs-btn cs-style1 cs-rounded cs-medium cs-primary_font cs-accent_bg_2 cs-accent_border_2 cs-white cs-accent_bg_hover cs-white_hover cs-accent_border_hover"><span
                    class="cs-btn_text">Send Message</span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="cs-height_80 cs-height_lg_40"></div>
    <div class="container">
      <div class="cs-google_map cs-style1">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96652.27317354927!2d-74.33557928194516!3d40.79756494697628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3a82f1352d0dd%3A0x81d4f72c4435aab5!2sTroy+Meadows+Wetlands!5e0!3m2!1sen!2sbd!4v1563075599994!5m2!1sen!2sbd"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="cs-height_140 cs-height_lg_80"></div>
  </div>
  <!-- End Contact -->
{% endblock %}


{% block sellof %}

{% endblock %}


  {% block js %}
  <!-- Script -->
  <script src="{% static '../static/js/plugins/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/isotope.pkg.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery.slick.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/lightgallery.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery.counter.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/jquery-ui.js' %}"></script>
  <script src="{% static '../static/js/plugins/select2.min.js' %}"></script>
  <script src="{% static '../static/js/plugins/wow.min.js' %}"></script>
  <script src="{% static '../static/js/main.js' %}"></script>
  {% endblock %}